body {
    font-family: 'IBM Plex Mono', monospace;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: white;
}

header {
    text-align: center;
}

p {
    text-align: center;
}

#palabra {
    margin: 0;
    border-radius: 40px;
    font-size: 40px;
}

#letra {
    width: 100px;
    height: 100px;
    font-size: 40px;
    resize: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botones {
    display: flex;
    flex-direction: column;
}

img {
    height: 300px;
}

button {
    margin: 20px;
    background-color: white;
    border-style: dashed;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.img-sn {
    margin: 4px;
    width: 32px;
    /* -webkit-filter: invert(100%);
    filter: invert(100%); */
}

.linkedin {
    width: 32px;
}

.mi-info {
    align-self: center;
}


@media screen and (width <=412px) {

    footer {
        margin-top: 6.25rem;
    }

}